@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}

<!DOCTYPE html>
<html lang="en" data-template="vertical-menu-template">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title> @ViewData["title"] </title>
    <meta name="description" content="" />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/img/favicon/favicon.ico" />

    <!-- partial Link for the global styles in all project : not customisable-->
    @await Html.PartialAsync("Section/_Styles");

    <!-- Vendor Styles necesary for the page : not customisable -->
    @RenderSection("VendorStyles", required: false)

    <!-- Styles customisable for the specific page -->
    @RenderSection("PageStyles", required: false)

</head>

<body>
    <!-- Layout Content -->
    @RenderBody()
    <!--/ Layout Content -->


    <!-- Core Scripts -->
    @await Html.PartialAsync("Section/_Scripts")

    <!-- Vendor Scripts necesary for the page : not customisable -->
    @RenderSection("VendorScripts", required: false)

    <script src='~/js/main.dist.js'></script>

    <!-- Page Scripts customisable for specific scripts ( must run after main.dist.js )-->
    @RenderSection("PageScripts", required: false)


</body>

</html>