@model List<TaskManagement.Models.ViewModel.LeaveViewModel>

@{
    ViewData["Title"] = "Leave Management";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/bootstrap-select/bootstrap-select.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/jquery-timepicker/jquery-timepicker.dist.css" />
}

<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
        <input type="text" class="form-control w-25" id="searchInput" placeholder="Search...">
        <button class="btn btn-primary" data-toggle="modal" data-target="#addLeaveModal">
            <i class="fas fa-plus"></i> Add Leave
        </button>
    </div>
    <table id="leaveTable" class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Reason</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var leave in Model)
            {
                <tr>
                    <td>@leave.leaveId</td>
                    <td>@leave.reason</td>
                    <td>
                        <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#updateLeaveModal" data-id="@leave.leaveId" data-reason="@leave.reason">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" onclick="deleteLeave(@leave.leaveId)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="modal fade" id="addLeaveModal" tabindex="-1" aria-labelledby="addLeaveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addLeaveModalLabel">Add Leave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addLeaveForm">
                    <div class="form-group">
                        <label for="reason">Reason</label>
                        <input type="text" class="form-control" id="reason" name="Reason" required>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="addLeave()">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="updateLeaveModal" tabindex="-1" aria-labelledby="updateLeaveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateLeaveModalLabel">Update Leave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateLeaveForm">
                    <input type="hidden" id="updateLeaveId" name="LeaveId">
                    <div class="form-group">
                        <label for="updateReason">Reason</label>
                        <input type="text" class="form-control" id="updateReason" name="Reason" required>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="updateLeave()">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section VendorScripts {
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/bootstrap-select/bootstrap-select.dist.js"></script>
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.dist.js"></script>
}

@section Scripts {
    <script src="~/js/LeaveManagement.js"></script>
}
