@using TaskManagement.Models.AccountVM
@model LoginViewModel


@{

    Layout = "Layout/_LayoutWithoutMenu";
    ViewData["Title"] = "Login";
    var returnUrl = ViewData["ReturnUrl"] as string;
}


@section VendorStyles {
    
}

@section VendorScripts {
    
}


@section PageStyles {
   
}

@section PageScripts {
    
}
@* ************** Content ************** *@

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <!-- Login -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center mb-4 mt-2">
                        <a href="/" class="app-brand-link gap-2">
                            @*<span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
                            <span class="app-brand-text demo text-body fw-bold ms-1">@TempData.Peek("appName")</span>*@
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-1 pt-2">Welcome to @TempData.Peek("appName")! 👋</h4>
                    <p class="mb-4">Please sign-in to your account</p>
                    <h6 class="text-danger text-center">@TempData["message"]</h6>
                    <form method="post" action="@Url.Action("Login", "Account")" id=" formAuthentication" class="mb-3">
                        <input type="hidden" name="returnUrl" value="@returnUrl" />

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="Username" for="email" class="form-label">Username</label>
                            <input asp-for="Username" class="form-control" placeholder="Enter username" autofocus>
                            <span asp-validation-for="Username" style="color:red"></span>
                        </div>

                        <form action="#">

                            <div class="form-group mb-3">
                                <label for="emailaddress">Email address</label>
                                <input class="form-control" type="email" id="emailaddress" required="" placeholder="Enter your email">
                            </div>

                            <div class="form-group mb-3">
                                <label for="password">Password</label>
                                <input class="form-control" type="password" required="" id="password" placeholder="Enter your password">
                            </div>

                            <div class="form-group mb-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                                    <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                                </div>
                            </div>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary btn-block" asp-controller="UserTask" asp-action="Index" type="submit"> Log In </button>
                            </div>

                        </form>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p> <a href="pages-recoverpw.html" class="text-muted ml-1"><i class="fa fa-lock mr-1"></i>Forgot your password?</a></p>
                        <p class="text-muted">Don't have an account? <a href="pages-register.html" class="text-dark ml-1"><b>Sign Up</b></a></p>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>



@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}